{# /src/Lci/BoilerBoxBundle/Resources/views/Utils/affiche_logs.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block fos_user_content %}
<h1>Logs des connexions boiler-box</h1>

{% if message is defined %}
    <h2>{{ message }}</h2>
{% endif %}

{% if tab_fichier is defined %}
<div class='listing notToBePrinted'>
    <div class='listing2'>
        <div class='formulaire_liste'>
            <table class='tab_liste tableau_listing'>
               <thead id='contenu_head_tableau_bons'>
                    <tr><th class='zone_texte_moyen'>Horaire</th>
                        <th class='zone_texte_moyen'>Information</th>
                        <th class='zone_texte_geant'>Utilisateur</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in tab_fichier %}
                    <tr
                        {% if ligne['connexion'] == 'Tentative de connexion' %}style='color:red; background-color:black; height:30px;'{% endif %}
                        {% if ligne['connexion'] == 'Connexion' %}style='color:green; background-color:#252b33 !important; height:30px;'{% endif %}
                        {% if ligne['connexion'] == 'Déconnexion' %}style='color:orange; background-color:black; height:30px;'{% endif %}
                    >
                        <td class='zone_texte_moyen'>Le {{ ligne['date'] }}</td>
                        <td class='zone_texte_moyen'>{{ ligne['connexion'] }}</td>
                        <td class='zone_texte_geant'>{{ ligne['utilisateur'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock fos_user_content %}

