{# /src/Lci/BoilerBoxBundle/Resources/views/Utils/index.html.twig #}
{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block liens_css %}
	{{ parent() }}
	<style>
		.form__btn--col{
			width: initial;
			max-width: initial;
		}
	</style>
{% endblock liens_css %}

{% block fos_user_content %}
<header class="sub-header sub-header--blue">
    <h1 class="sub-header__title">Paramètres BoilerBox</h1>
</header>
<main class='main-box'>
	<h2 class="main-box__title">Configuration</h2>
	<div class="main-box__content">
	    <form id='form_utilitaires' class="form" name='form_utilitaires' method='post' action="{{ path('lci_utils_validChoice') }}">
	    	<div class="form__field">
	    		<label>Choix de configuration</label>
		        <select name='choixUtilitaire'>
		            <option value='printAccess'>Affichage de la disponibilité des sites</option>
					<option value='getionRoles'>Gestion des rôles utilisateurs</option>
					<option value='afficheLogs'>Affichage des logs de connexion</option>
		        </select>
		    </div>
	    </form>
	</div>
	<div class='form__btn form__btn--col'>
		<button class="btn_menu btn btn--main" onClick="attente(); document.forms['form_utilitaires'].submit();">Valider</button>
		<button  class="btn_menu btn btn--second" onClick="attente(); redirection('retourMenu');">Retour</button>
	</div>
</main>

<script type='text/javascript'>
	// Fonction style barre de navigation page active
    $(window).on('load', function pageActive(){
    	$('.side-nav .parametres').addClass('active');
    });
</script>
{% endblock fos_user_content %}
