{% block versionBoilerBox %}
	{# update 7.4.0 Ajout de la fonction de suivi des sites distant avec envoi de mail au groupe suivi des sites lors d'echec de connexion #}
    <span>Boiler-Box </span><span style='font-size:0.8em;'>version 7.4.0</span><br />
{% endblock versionBoilerBox %}
