.form_recherche_parc {
  position: relative;
  padding: 0px 20px 20px 20px;
}
.formulaire_small_parc {
  position: relative;
  margin-top: 100px;
  padding-top: 10px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
}
.formulaire_small_parc table {
  width: 100%;
  font-size: 0.8em;
}
.formulaire_recherche_parc {
  position: relative;
  margin-top: 200px;
  padding-top: 20px;
  width: 98%;
  max-height: 600px;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
}
.formulaire_recherche_parc table {
  border-collapse: separate;
  border-spacing: 20px 20px;
}
.formulaire_recherche_parc table tr td,
th {
  overflow-wrap: break-word;
  text-align: left;
}
.formulaire_recherche_parc i {
  font-size: 0.8em;
}
.zone_texte_mini {
  max-width: 50px;
  min-width: 50px;
}
.zone_texte_petit {
  max-width: 100px;
  min-width: 100px;
}
.zone_texte_moyen {
  max-width: 200px;
  min-width: 200px;
}
.zone_texte_grand {
  max-width: 300px;
  min-width: 300px;
}
.zone_texte_flow {
  white-space: nowrap;
  overflow: auto;
}
.th_left {
  text-align: left;
}
.lien_fichier_download_removed {
  display: block;
  font-size: 13px;
  color: yellow;
  margin-bottom: 5px;
}
.lien_fichier_download {
  display: block;
  font-size: 13px;
  color: yellow;
  margin-bottom: 5px;
}
.lien_fichier_download:hover {
  font-weight: bold;
  color: red;
}
a.lien_fichier_ajout {
  display: inline-block;
  font-size: 14px;
  color: green;
  margin-bottom: 15px;
}
a.lien_fichier_ajout:hover {
  font-weight: bold;
}
a.lien_fichier_supprime {
  font-size: 12px;
  color: red;
}
.tab_liste_pb td {
  text-align: left;
}

.tab_liste_pb thead {
   display:block;
   border:1px solid white;
}

.tab_liste_pb tbody {
   display:block;
   border:1px solid white;
   max-height:350px;
   max-width:2200px;
   overflow-x: none;
   overflow-y: scroll;
}

.toBePrinted {
  display: none;
}






html {
  height: 98%;
}
body {
  background-image: linear-gradient(to right,#252b33,#000000);
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  color: #FFF;
  padding: 0;
  min-height: 100%;
  position: relative;
}
.boxlogin {
  background: #FFF;
  width: 250px;
  position: fixed;
  left: 5%;
  top: 50%;
  margin-top: -250px;
  vertical-align: middle;
  border-radius: 20px;
  text-align: left;
  border-top-left-radius: 0;
  -moz-box-shadow: 8px 8px 12px #000;
  -webkit-box-shadow: 8px 8px 12px #000;
  box-shadow: 8px 8px 12px #000;
  padding: 5px 5px 20px 5px;
}
.effacer {
  visibility: hidden;
}
.validationFormulaire {
  position: relative;
  z-index: 5;
  color: #FFF;
  padding: 10px 20px 20px 20px;
}
.validationFormulaire a {
  color: inherit;
  text-transform: uppercase;
}
.validationFormulaire .bouton {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 10px;
}
.register_mid {
  border: 2px solid blue;
  background-color: white;
  width: 200px;
}
.register_long {
  border: 2px solid red;
  background-color: white;
  width: 300px;
}
.register_small {
  border: 2px solid green;
  background-color: white;
  width: 75px;
}
.wideLabel {
  width: 250px;
}
.formulaire {
  /*margin-top: 200px;*/
  width: 500px;
  /*margin-right: auto;
  margin-left: auto;*/
  text-align: center;
  max-height: 800px;
  overflow: auto;
}
#zoneSites {
  position: absolute;
  text-align: left;
}
#zoneValidation {
  position: absolute;
}
select {
  width: 200px;
}
#zoneSites h2 {
  text-align: center;
  width: 500px;
}
#zoneUsers h2 {
  text-align: center;
  width: 500px;
}
#check_users {
  text-align: left;
  width: 500px;
  padding-left: 150px;
}
#check_sites {
  text-align: left;
  width: 500px;
  padding-left: 150px;
}
.tablo_parametre_utilitaire {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}
.tablo_parametre_utilitaire h1 {
  text-align: center;
  padding-bottom: 0px;
}
#infos_disponibilite {
  height: 500px;
  max-height: 500px;
  overflow: auto;
}
#infos_disponibilite a {
  color: white;
  text-decoration: none;
}
#infos_disponibilite a:hover {
  color: white;
  text-decoration: none;
}
.tablo_centre {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.col_site {
  width: 200px;
  text-align: left;
}
.col_affaire {
  width: 100px;
  text-align: left;
}
.col_dispo_access {
  width: 100px;
  text-align: center;
}
.col_reponse_access {
  width: 200px;
  text-align: center;
}
.col_date_access {
  text-align: center;
}
.tab_detail {
  width: 1000px;
  max-height: 180px;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  border: 1px dotted white;
  bottom: 5px;
}
.tab_detail h1 {
  font-size: 1em;
}
.choixOptions {
  width: 250px;
}
.feuTricolor_0 {
  display: block;
  background: #00FF00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #00C000;
}
.feuTricolor_1 {
  display: block;
  background: #FF8000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border:2px solid red;
  font-size:30px;
  /*border: 2px solid #FE9A2E;*/
  color:red;
}
.feuTricolor_2 {
  display: block;
  background: #FF0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FE2E2E;
}
.feuTricolor_3 {
  display: block;
  background: #D8D8D8;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FE2E2E;
}
.spanFeuTricolor_0 {
  display: inline-block;
  background: #00FF00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #00C000;
}
.spanFeuTricolor_1 {
  display: inline-block;
  background: #FF8000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FE9A2E;
}
.spanFeuTricolor_2 {
  display: inline-block;
  background: #FF0000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FE2E2E;
}
.spanFeuTricolor_3 {
  display: inline-block;
  background: #D8D8D8;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FE2E2E;
}
.cursor_wait {
  cursor: wait;
}
.label_register {
  display: inline-block;
  width: 180px;
  font-size: 0.8em;
  margin-bottom: 5px;
  text-align: left;
}
.integer_register {
  width: 100px;
  margin-bottom: 10px;
}
.varchar_register {
  width: 200px;
  margin-bottom: 10px;
}
.date_register {
  width: 100px;
  margin-bottom: 10px;
}
.error_rendered {
  color: red;
  font-size: 12px;
  height: 10px;
  max-height: 10px;
  padding-top: 5px;
}
.text_register {
  width: 450px;
  margin-bottom: 10px;
}
.corp_register {
  width: 90%;
  text-align: left;
  position: relative;
}
.identifiant {
  display: none;
}
.gestion_parc {
  position: relative;
  z-index: 5;
  padding: 10px 20px 20px 20px;
}
.gestion_parc a {
  color: inherit;
  text-transform: uppercase;
}
.gestion_parc_technique {
  position: relative;
  z-index: 5;
  padding: 10px 20px 20px 20px;
  width: 95%;
  height: 460px;
  overflow: auto;
}
.gestion_parc_technique a.nombre_problemes {
	text-transform: none;
	text-decoration: none;
}

.gestion_parc .bouton {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 10px;
}
.parcbouton {
  background: none;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 300px;
}
.green .parcbouton:hover {
  background: #3fa740;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 300px;
  color: #FFF;
}
.blue .parcbouton:hover {
  background: #006ab3;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 300px;
  color: #FFF;
}
.red .parcbouton:hover {
  background: #FF0000;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 300px;
  color: #FFF;
}
.formulaire_parc {
  border:2px solid green;
  margin-top: 100px;
  padding-top: 20px;
  width: 800px;
  /*margin-right: auto;
  margin-left: auto;*/
  text-align: center;
  border-radius: 10px;
}

.formulaire_parc_modules {
  margin-top: 100px;
  padding-top: 20px;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 10px;
}

.formulaire_parc_modules .zone_texte_mini {
  max-width: 80px;
  min-width: 80px;
  text-align:center;
}
.formulaire_parc_modules .zone_texte_petit {
  max-width: 120px;
  min-width: 120px;
  text-align:center;
}
.formulaire_parc_modules .zone_texte_moyen {
  max-width: 180px;
  min-width: 180px;
  padding-right:30px;
}
.formulaire_parc_modules .zone_texte_grand {
  max-width: 350px;
  min-width: 350px;
  padding-right:30px;
}

.formulaire_parc_modules td.zone_texte_grand {
  font-size:0.9em;
}


.tab_liste_modules thead {
   display: block;
   width: 1050px;
   border: 1px solid white;
}

.tab_liste_modules tbody {
   display: block;
   max-height:400px;
   width: 1050px;
   overflow: auto;
   border: 1px solid white;
}

.tab_liste_modules th {
   text-align:center;
}

.tab_liste_modules td {
   text-align:left;
}


.zone_texte_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.titre_page2 h2.alignLeft {
  display: inline-block;
  width: 80%;
  text-align: left;
}
.titre_page {
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100%;
  z-index: 98;
}
#boutontitre {
  display: inline-block;
  float: right;
  vertical-align: bottom;
  margin-top: 10px;
  font-size: 12px;
  margin-right: 30px;
}
#boutontitre ul li {
  display: inline-block;
  position: relative;
  width: 35px;
  margin-left: 5px;
  text-align: center;
  list-style-type: none;
}
#boutontitre ul li a {
  display: block;
  padding-left: 10px;
  color: #FFFFFF;
}
#boutontitre ul li a:hover {
  color: #006ab3;
}
#boutontitre ul ul {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  margin: 0px;
  padding: 0px;
  z-index: 1;
  border: 1px solid black;
  background-color: #4b4b4b;
}
#boutontitre ul ul li {
  display: block;
  position: relative;
  height: 30px;
  width: 140px;
  margin: 0;
  text-align: left;
  line-height: 30px;
  border-bottom: 1px solid #999;
}
#boutontitre ul ul li a {
  display: block;
  padding-left: 10px;
  color: #FFF;
}
#boutontitre ul ul li a:hover {
  background: #006ab3;
}
#boutontitre li:hover ul.niveau2,
#boutontitre li li:hover ul.niveau3 {
  display: block;
}
.boutonTitrePrint {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url(../images/print.png);
}
.boutonTitreExport {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url(../images/export.png);
}
.boutonTitreMail {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url(../images/mail_black.png);
}
.color_light {
  background: #FAFAFA;
  color: #000000;
}
.color_darkbox {
  background-image: linear-gradient(to right,#16191f,#090a0c);
  color: #FFFFFF;
  border: 3px ridge #252b33;
}
.color_darkgray {
  background: #424242;
  color: #FFFFFF;
}
.readyOnly {
  position: absolute;
  width: 100%;
  height: 98%;
  z-index: 99;
}
.message_flashinfo {
  font-size: 14px;
  color: red;
  font-weight: normal;
  padding-left: 300px;
}
#logo-IBC {
  margin: 0 0 10px 0;
}
#logo-IBC .img {
  width: 81px;
  height: 81px;
  float: left;
  background: no-repeat;
  display: block;
}
#logo-IBC .txt {
  padding: 18px 0 0 89px;
  display: block;
  color: #4b4b4b;
  text-align: left;
  font-size: 22px;
  line-height: 15pt;
}
#logo-IBC span {
  color: #0a71b4;
}
.icone {
  width: 60px;
  height: 75px;
  background: #FFF;
  display: inline-block;
  margin: 35px 5px 10px 10px;
  border-radius: 5px;
  border: 3px solid #4b4b4b;
  background: url(../images/chaudiere.png) no-repeat;
  background-position: 4px 4px;
}
.codeaffaire {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  color: #4b4b4b;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
.logoChaudiere {
  margin-top: 25px;
}
.affaire {
  width: 160px;
  height: 76px;
  position: absolute;
  color: #333;
  display: inline-block;
  margin-top: 35px;
}
.affaire span {
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
  line-height: normal;
  font-size: 16px;
  color: #4b4b4b;
  display: table-cell;
  vertical-align: middle;
  height: 76px;
  padding-left: 10px;
}
.boxlogin .bouton {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
  margin: 13px 0 0 5px;
  float: right;
  margin-right: 10px;
  text-transform: uppercase;
  background: none;
}
.bouton.blue {
  color: #006ab3;
  border: #006ab3 solid 3px;
}
.bouton.green {
  color: #3fa740;
  border: #3fa740 solid 3px;
}
.bouton.red {
  color: #FF0000;
  border: #FF0000 solid 3px;
}
#_submit {
  background: none;
  border: none;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #006ab3;
  margin: 2px;
  height: 21px;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  padding: -1px 8px -3px 8px;
}
#_submit:hover {
  background: #006ab3;
  width: auto;
  display: inline-block;
  padding: -1px 8px -3px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}
#horodatage {
  margin: 20px;
  text-align: center;
  color: #264d68;
  font-weight: bold;
  position: fixed;
  right: 2%;
  bottom: 2%;
}
.heure {
  font-size: 120px;
  line-height: 55px;
}
.date {
  font-size: 55px;
  text-transform: uppercase;
}
#messagebox {
  position: fixed;
  z-index: 5;
  background-color: #333;
  width: 460px;
  top: 300px;
  left: 50%;
  margin-left: -250px;
  color: #FFF;
  padding: 10px 20px 20px 20px;
  border: #000 solid 3px;
}
#messagebox a {
  color: inherit;
  text-transform: uppercase;
}
#messagebox .bouton {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: 16px;
}
.right {
  width: 100%;
  text-align: right;
}
.cacher {
  display: none;
}
.bgbouton {
  background: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  width: 200px;
}
.green .bgbouton:hover {
  background: #3fa740;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  width: 200px;
}
.blue .bgbouton:hover {
  background: #006ab3;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  width: 200px;
}
.red .bgbouton:hover {
  background: #FF0000;
  width: auto;
  display: inline-block;
  padding: 2px 8px 1px 8px;
  margin: 2px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  width: 200px;
}
.shadowing {
  opacity: 0.3;
  filter: alpha(opacity=70);
  z-index: 1;
}
.validationbouton div.bouton {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 15px;
  border: #202a36 solid 3px;
  font-size: 16px;
  text-align: center;
}
.validationbouton a {
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
.btn-disable {
  pointer-events: none;
}
.destination_site {
  text-align: center;
  width: 100%;
}

.up_titre_page {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 98;
}
.up_titre_page p {
  font-size: 10px;
}

.gauche {
  text-align:left !important;
}

#siteIpc {
 border-top:1px solid black;
}






/*
.logout {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.logout a {
  color: white;
}
.logout a:hover {
  color: white;
}
*/

#bloc_header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  height: 150px;
  width: 99%;
}
.entete_gauche {
  display: flex;
  flex-direction: column;
}
.version_boilerbox p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
}

.logout {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.logout>div {
  margin-right: 15px;
}


#bloc_body {
  border:2px solid red;
  position: fixed;
  top: 150px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


#body_boilerbox {
  border:1px solid yellow;
  margin-top: -200px;
}

.notToBeShown {
  display: none;
}
