{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block fos_user_content %}
{{ parent() }}
	<main class='main-box'>
		<h1 class="main-box__title">Utilisateur créé</h1>
		<div class="main-box__content">
		    <p>
		    	{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
		    </p>
		</div>
	</main>
{% endblock fos_user_content %}
