{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
    <h1 style='color:red; font-size:22px; margin-bottom:-10px;'>Création de compte Boiler-Box</h1>
	<p>{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}</p>
	<br /><br />
{% endblock %}
