<html>
<section id="popupSelectionEquipement" class="popup cacher">
    <div class="popup__wrapper" style="width:780px;">
        <header class="popup__header">
            <h1 id='titre_nouvel_equipement2' class="popup__title">Sélection des équipements</h1>
            <div id='close_cross_equipement'  class="close-cross" onclick="fermeturePopupSelectionEquipement();"></div>
            <button type="button" id="btn_ajout_equipement2" class="btn btn--main btn--round add tooltip-wrapper" onclick="gestionDesEquipements2();"><span class="tooltip">Créer nouvel équipement</span></button>
        </header>
        <div class="popup__content">
            <div class="form__field form__field--double align-end">
                <div>
                    <label>Site</label>
                    <select id='select_equipement'>
                         <option value=''>Affichage des équipements tous sites confondus</option>
                        {% for e_siteBA in es_sitesBA %}
                            <option value="{{ e_siteBA.id }}">{{ e_siteBA.intitule }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-bar">
                    <span class="search-bar__img"></span>
                    <input class="search-bar__input" type='text' id='recherche_equipement' placeholder="Rechercher" />
                </div>
            </div>
            <div class="form__field">
                <h3 class="list__title">Équipements sélectionnées pour le bon</h3>
                <div class="list__legend">
                    <label style='width:30px;'></label>
                    <label class="serie" style='width:60px;'>N° de série</label>
                    <label class="built" style='width:60px;'>Construit le</label>
                    <label class="name-1" style='width:150px;'>Dénomination</label>
                    <label class="name-2" style='width:150px;'>Autre dénomination</label>
                    <label class="location" style='width:200px;'>Equipement situé sur</label>
                </div>
                <div id="liste_des_equipements_selectionnes" class="list scroll"></div>
                <h3 class='list__title'>Liste des équipements du site sélectionné</h3>
                <div id='insert_equipement' class="list scroll"></div>
            </div>
        </div>
        <div class="popup__action">
            <button class="btn btn--main" onclick="fermeturePopupSelectionEquipement(); return false;">Fermer</button>
        </div>
</section>
<html>
