<html>
<section id="popupSelectionEquipement" class="popup cacher">
    <div class="popup__wrapper" style="width:780px;">
        <header class="popup__header">
            <h1 id='titre_nouvel_equipement2' class="popup__title">Sélection des équipements</h1>
            <div id='close_cross_equipement'  class="close-cross" onclick="fermeturePopupSelectionEquipement();"></div>
            <button type="button" id="btn_ajout_equipement2" class="btn btn--main btn--wide add tooltip-wrapper" onclick="gestionDesEquipements2();"><span class="tooltip">Créer nouvel équipement</span></button>
        </header>
        <div class="popup__content">
            {# <div class="choice">
                <div class="choice__actionner">
                    <label class="required checked" for="ajoutEquipement">
                        <input type="radio" id="ajoutEquipement" name="ajoutEquipement">
                        Sélection équipement
                    </label>
                </div>
                <div class="choice__actionner">
                    <label class="required" for="creationEquipement">
                        <input type="radio" id="creationEquipement" name="creationEquipement">
                        Créer équipement
                    </label>
                </div>
            </div> #}
            <div class="form__field form__field--double align-end">
                <div>
                    <label>Site</label>
                    <select id='select_equipement'>
                         <option value=''>Affichage des équipements tous sites confondus</option>
                        {% for e_siteBA in es_sitesBA %}
                            <option value="{{ e_siteBA.id }}">{{ e_siteBA.intitule }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div class="search-bar">
                        <span class="search-bar__img"></span>
                        <input class="search-bar__input" type='text' id='recherche_equipement' placeholder="Rechercher" />
                    </div>
                </div>
            </div>
            <div class="form__field">
                <div>
                    <div id="liste_des_equipements_selectionnes" style='border-bottom:1px dashed black; padding-bottom:10px; max-height:200px; overflow:auto;'>
                        <div class='form_field rel'><label>Equipements sélectionnés pour le bon</label></div>
                            <span  style='display:inline-block; width:20px; font-size:10px;'></span>
                            <span  style='display:inline-block; width:60px; font-size:10px;'>N° de série</span>
                            <span  style='display:inline-block; width:60px; font-size:10px;'>Construit le</span>
                            <span  style='display:inline-block; width:150px; font-size:10px;'>Dénomination</span>
                            <span  style='display:inline-block; width:150px; font-size:10px;'>Autre dénomination</span>
                            <span  style='display:inline-block; width:200px; font-size:10px;'>Equipement situé sur</span>
                    </div>

                    <div id="liste_des_equipements" style='padding-top:10px; max-height:500px; overflow:auto;'>
                        <div class='form_field rel'><label>Liste des équipements du site sélectionné</label></div>
                            <span  style='display:inline-block; width:20px; font-size:10px;'></span>
                            <span  style='display:inline-block; width:60px; font-size:10px;'>N° de série</span>
                            <span  style='display:inline-block; width:60px; font-size:10px;'>Construit le</span>
                            <span  style='display:inline-block; width:150px; font-size:10px;'>Dénomination</span>
                            <span  style='display:inline-block; width:150px; font-size:10px;'>Autre dénomination</span>
                            <span  style='display:inline-block; width:200px; font-size:10px;'>Equipement situé sur</span>
                        <div id='insert_equipement'>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn--main btn--wide" onclick="fermeturePopupSelectionEquipement(); return false;" style="margin-top:12px;">Fermer</button>
        </div>
</section>
<html>
