    <fieldset class="fieldset">
        <h2 class="fieldset__title">Équipement</h2>
        <div class="form__field rel">
            <span id="add-equipBon">Sélection des équipements</span>
            <button type="button" id="btn_ajout_equipement2" class="btn btn--main add tooltip-wrapper" onclick="gestionDesSelectionEquipements();"><span class="tooltip">Ajouter équipement</span></button>
		</div>
		<div class="form__field">
            {% if entity_bon is defined %}
                    <table style='border-spacing:10px;'>
                        {% for e_equipement in entity_bon.equipementBATicket %}
                            <tr><td>Equipement{{ loop.index }}</td><td>{{ e_equipement.denomination }}</td><td>{{ e_equipement.numeroDeSerie }}</td></tr></div>
                        {% endfor %}
                    </table>
            {% endif %}
        </div>
    </fieldset>
