<fieldset class="fieldset fieldset--no-padding">
    <h2 class="fieldset__title">Équipement</h2>
    <div class="form__field rel">
		<p id='infos_equipements'>Equipement(s) non défini(s)</p>
		{% if is_granted('ROLE_SAISIE_BA') %}
           	<button type="button" id="btn_ajout_equipement2" class="btn btn--round btn--main add tooltip-wrapper" onclick="gestionDesSelectionEquipements();"><span class="tooltip">Ajouter équipement</span></button>
		{% endif %}
	</div>
    <table id="table_des_equipements" class="flex-table">
    	<thead class="flex-table__thead">
			<tr class="flex-table__row">
            	<th>N° de série</th><th>Dénomination</th><th>Autre dénomination</th>
            </tr>
        </thead>
        <tbody class="flex-table__tbody scroll"></tbody>
    </table>
</fieldset>
