    <fieldset class="fieldset">
        <h2 class="fieldset__title">Équipement</h2>
        <div class="form__field rel">
            <span id="add-equipBon">Sélection des équipements</span>
            <button type="button" id="btn_ajout_equipement2" class="btn btn--main btn--round add tooltip-wrapper" onclick="gestionDesSelectionEquipements();"><span class="tooltip">Ajouter équipement</span></button>
        </div>
    </fieldset>
