.btn{
	display: inline-block;
	width: initial;
	padding: 8px 32px;
	border-radius: 0 5px 5px 5px;
	font-size: 12pt;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	&--main{
		background: linear-gradient(to left, #f45400 50%, #ff5a00 100%);
		box-shadow:
			inset 1px 1px 1px #ff7300,
			inset -1px -1px 1px #ff7300,
			0 1px 3px rgba(50 50 50 / 40%);
		border: solid 1px #d25000;
		color: #e6e6e6;
		&:hover{
			background: linear-gradient(to top, #ff5a00 45%, #ff6400 55%);
			color: white;
		}
	}
	&--second{
		margin-right: 24px;
		background: linear-gradient(to left, #fdfdfd 50%, #ffffff 100%);
		box-shadow:
			inset 1px 1px 1px #ededed,
			inset -1px -1px 1px #ededed,
			0 1px 3px rgba(200 200 200 / 50%);
		border: solid 1px #cccccc;
		color: #767676;
		&:hover{
			background: linear-gradient(to top, #f0f0f0 45%, #f6f6f6 55%);
			color: #656565;
		}
	}
	&--add{
		display: flex;
		align-items: center;
		width: 100%;
		background: linear-gradient(to left, #e5e5e5 50%, #ececec 100%);
		box-shadow: 
			inset 1px 1px 1px #ededed,
			inset -1px -1px 1px #ededed,
			0 1px 3px rgba(200 200 200 / 50%);
		border: solid 1px #cccccc;
		font-size: 10pt;
		line-height: 12pt;
		color: #767676;
		text-align: left;
		.crossAdd{
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 6px;
			&:before, &:after{
				content: '';
				display: block;
				position: absolute;
				width: 2px;
				height: 12px;
				background: var(--gris-profond);
			}
			&:after{
				transform: rotate(90deg);
			}
		}
		&:hover{
			background: linear-gradient(to top, #f0f0f0 45%, #f6f6f6 55%);
			color: #656565;
		}
		&:active{
			.crossAdd:before, .crossAdd:after{
				background: white;
			}
		}
	}
	&:active{
		background: #511943;
		border-color: #330c29;
		box-shadow: 0 1px 1px rgba(50 50 50 / 70%);
		color: #e6e6e6;
	}
	&--disabled{
		cursor: not-allowed;
		pointer-events: none;
		background: #e3e3e3;
		color: #636363;
	}
}