.card{
	width: 250px;
	height: 320px;
	margin: 24px auto;
	background: white;
	box-shadow: 0 2px 6px rgba(0,0,0, 0.15);
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.15s ease;
	&:hover{
		transform: scale(1.1);
		box-shadow: 0 4px 10px rgba(0,0,0,0.25);
	}
	&__img{
		box-sizing: content-box;
		display: block;
		margin: 0 auto;
		width: 100px;
		height: auto;
		padding: 40px 40px 32px 40px;
		border-radius: 8px;
	}
	&__container{
		padding: 24px 32px;
		border-radius: 0 0 8px 8px;
		&__title{
			margin-bottom: 16px;
			color: var(--couleur-principale);
			font-size: 14pt;
			font-weight: 400;
			line-height: 13pt;
			&--red{
				color: #ff5028;
			}
		}
		&__desc{
			color: var(--gris-clair-hover);
			font-size: 10pt;
			font-weight: 400;
		}
	}
}