.close-cross{
	position: absolute;
	top: 18px;
	right: 18px;
	@include flex-col;
	width: 28px;
	height: 28px;
	background: transparent;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	&:hover{
		background: rgba(0,0,0,0.2);
	}
	&::before, &::after{
		content: '';
		display: block;
		width: 16px;
		height: 2px;
		background: #ccc;
		cursor: pointer;
		transition: all 0.2s ease-in-out;
	}
	&::before{
		transform: translateY(1px) rotate(45deg);
	}
	&::after{
		transform: translateY(-1px) rotate(-45deg);
	}
	&:hover::before,&:hover::after{
		background: #ddd;
	}
	&--light{
		&::before, &::after{
			background: #999;
		}
		&:hover::before,&:hover::after{
			background: #666;
		}
	}
}