.scroll{
    scrollbar-width: thin;
    scrollbar-color: var(--couleur-principale) var(--gris-clair);
    &--gris{
        scrollbar-color: var(--couleur-principale) var(--gris-clair-hover);
    }
    &::-webkit-scrollbar {
        width: 14px;
        height: 14px;
        background: none transparent;
    }
    &::-webkit-scrollbar-track-piece{
        background: transparent none;
        border: solid 4px transparent;
        border-right-width: 8px;
        margin: 4px;
        -webkit-box-shadow: inset 1px 0 0 0 var(--couleur-principale);
    }
    &::-webkit-scrollbar-thumb{ 
        border: solid 0 transparent;
        border-right-width: 4px;
        -webkit-border-radius: 5px;
        -webkit-border-top-right-radius: 9px 5px;
        -webkit-border-bottom-right-radius: 9px 5px;
        -webkit-box-shadow: inset 0 0 0 6px var(--couleur-principale);
    }
}