{% extends "FOSUserBundle::secondLayoutUser.html.twig" %}


{% block fos_user_content %}
{{ parent() }}
	<main class='main-box'>
		<h1 class="main-box__title">Réinitialisation du mot de passe</h1>
		<div class='main-box__content'>
			<p>
				{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
			</p>
		</div>
	</main>
{% endblock fos_user_content %}
