{% extends "LciBoilerBoxBundle::secondBoilerLayout.html.twig" %}

{% block fos_user_content %}
{{ parent() }}
	<div class='listing'>
		<div class='ajout_objet'>
		    <h1>Réinitialisation du mot de passe</h1>
			<p>
				<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
			</p>
		</div>
	</div>
{% endblock fos_user_content %}
