{% extends "FOSUserBundle::secondLayoutUser.html.twig" %}

{% block fos_user_content %}
{{ parent() }}
    <main class='main-box'>
        <h1 class="main-box__title">Réinitialisation du mot de passe</h1>
        <div class='main-box__content'>
			<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset">
				{{ form_widget(form) }}
				<div class="form__field">
    				<input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
				</div>
			</form>
        </div>
    </main>
{% endblock fos_user_content %}
