{# src/Lci/BoilerBoxBundle/Resources/views/Registration/newSite.html.twig #}
{% extends "LciBoilerBoxBundle::secondLayoutLogged.html.twig" %}

{% form_theme form 'form/fields_administration.html.twig' %}

{% block boilerBoxCSS %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/lciboilerbox/css/vertical-form-template.css') }}" />
    <style>
        .btn--add{
            margin-top: 24px;
        }
    </style>
{% endblock boilerBoxCSS %}


{% block mainBody %}
	<main>
        <header class="sub-header sub-header--grey">
		  <h1 class="sub-header__title">Paramètres de site</h1>
        </header>
        <div class="tab-wrapper">
            <ul class="tab-wrapper__tabs">
                <li class="tab-wrapper__tabs__tab" data-tab-target="#connexion">Nouveau paramètre</li>
            </ul>
            <div class="tab-wrapper__content">
				{{ form(form) }}
            </div>
        </div>
	</main>
{% endblock mainBody %}
