.form{
	@include flex-col;
	.form__field{
		@include flex-col;
		align-items: flex-start;
		width: 100%;
		margin: 0 0 34px 0;
		label{
			margin: 0 0 6px 0;
			font-size: 9pt;
			color: var(--gris-profond);
		}
		input{
			margin-bottom: 0 !important;
		}
		input[type=file]{
			padding: 0 !important;
			border: none !important;
			&:focus{
				border: none !important;
			}
		}
		input[type=text], input[type=password], select{
			width: 360px !important;
			background: #f9f9f9 !important;
			border: solid 1px var(--gris-clair-hover) !important;
			height: initial !important;
			font-size: 14pt !important;
			padding: 6px 0 6px 10px !important;
			&:focus{
				border-color: var(--couleur-focus) !important;
			}
			&::placeholder{
				color: transparent !important;
			}
		}
		.radio{
			@include flex-row;
			justify-content: flex-start;
			label{
				color: black;
				font-size: 12pt;
				font-weight: 300;
			}
		}
	}
	.form__button{
		@include flex-row;
		justify-content: flex-end;
		width: 100%;
	}
}
