.info-box{
	display: none;
	position: fixed;
	top:50%;left:50%;
	transform: translate(-50%,-50%);
	z-index: 6;
	width: 75vw;
	min-width: 500px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	border-radius: 0 10px 10px 10px;
	&__header{
		padding: 22px 36px;
		border-radius: 0 10px 0 0;
		background: var(--couleur-principale);
		&__code{
			font-size: 14pt;
			font-weight: lighter;
			color: #c2d4ef;
		}
		&__nom{
			font-size: 18pt;
			font-weight: lighter;
			color: white;
		}
	}
	&__mode{
		padding: 4px 0;
		font-size: 10pt;
		color: white;
		text-align: center;
		background: red;
		&--public{
			background: red;
		}
		&--private{
			background: var(--couleur-principale);
		}
		a{
			color: #00ccff;
			font-style: italic;
		}
	}
	&__content{
		display: flex;
		flex-flow: row nowrap;
		height: 75vh;
		&__title{
			margin: 10px 0 !important;
			font-size: 13pt;
			font-weight: normal;
			color: black;
			&--wrapper{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__img{
				margin: 0 8px 0 0;
				width: auto;
				height: 13px;
			}
		}
		&__settings{
			display: flex;
			flex-flow: column nowrap;
			width: 32%;
			min-width: 220px;
			padding: 6px 40px 6px 30px;
			border-radius: 0 0 0 10px;
			background: white;
			> div{
				margin-bottom: 24px;
				&:last-child{
					margin: 0;
				}
				label{
					font-size: 9pt;
					color: var(--gris-profond)
				}
			}
			> *{
				flex-shrink: 0;
			}
		}
		&__social{
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			width: 68%;
			padding: 6px 40px;
			border-radius: 0 0 10px 0;
			background: #f2f2f2;
			> *{
				flex-shrink: 0;
			}
		}
	}
}
.info-box__content__settings{
	.connexion{
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		&__lien{
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			cursor: pointer;
			&__img{
				width: 56px;
				height: auto;
				margin-bottom: 4px;
			}
			span{
				font-size: 9pt;
				color: var(--gris-profond);
			}
		}
	}
	.attachement__wrapper{
		max-height: 108px;
		overflow-y: auto;
		padding-left: 20px;
		margin-bottom: 12px;
		scrollbar-width: thin;
		.attachement{
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 8px;
			&__img{
				width: 22px;
				height: 28px;
				border-radius: 2px;
				background-repeat: no-repeat;
				background-position: center;
				&.txt, &.doc, &.docm, &.docx{
					background: url("../images/pieceJointe/imgPieceJointeTxt.png")
				}
				&.pdf{
					background: url("../images/pieceJointe/imgPieceJointePDF.png");
				}
				&.xls,&.xlsx{
					background: url("../images/pieceJointe/imgPieceJointeXLS.png");
				}
				&.jpg,&.jpeg,&.png{
					background: url("../images/pieceJointe/imgPieceJointeJPG.png");
				}
			}
			&__infos{
				display: flex;
				flex-flow: column wrap;
				justify-content: center;
				align-items: flex-start;
				margin-left: 10px;
				line-height: 10pt;
				&__name{
					color: black;
					font-size: 10pt;
					font-weight: 600;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&__author{
					display: flex;
					flex-flow: row nowrap;
					font-size: 9pt;
					&__name{
						margin-right: 4px;
						color: var(--gris-profond);
					}
					&__date{
						color: var(--gris-clair-hoveer);
					}
				}
				&__delete{
					font-size: 9pt;
					color: var(--couleur-principale);
					&:hover{
						text-decoration: underline;
						color: red;
					}
				}
			}
		}
	}
	.infos{
		flex-shrink: initial;
		display: flex;
		flex-flow: column nowrap;
		padding-left: 20px;
		overflow-y: auto;
		span{
			margin-bottom: 10px;
			font-size: 10pt;
			color: black;
			text-transform: capitalize;
		}
	}
}
.info-box__content__social{
	.rondCompte{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 22px;
		height: 22px;
		margin-right: 6px;
		border-radius: 50%;
		background-color: var(--variable-color-user);
		font-size: 1em;
		text-transform: lowercase;
		color: white;
	}
	.mon-comm{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		form{
			display: block;
			width: calc(100% - 28px);
			padding: 0;
			margin: 0;
		}
		textarea{
			width: 100%;
			height: initial;
			margin: 0;
			padding: 5px;
			border: solid 1px var(--gris-clair-hover);
			border-radius: 0 3px 3px 3px;
			font-family: Calibri, Arial, sans-serif;
			font-size: 12pt;
			overflow-x: hidden;
			overflow-y: auto;
			resize: vertical;
			&::placeholder{
				font-size: 12pt;
				color: var(--gris-clair-hover);
			}
		}
		.btn{
			float: right;
			padding: 4px 24px;
			margin: 6px 0 12px 0;
		}
	}
	.flux-comm{
		flex-shrink: initial;
		margin-bottom: 24px;
		padding-right: 10px;
		overflow-y: auto;
		scrollbar-width: thin;
		.comm{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 12px;
			&__infos{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				flex-wrap: wrap;
				align-items: baseline;
				margin-bottom: 4px;
				&__nom{
					align-self: baseline;
					margin-right: 6px;
					font-size: 1.0em;
					font-weight: bold;
					color: black;
					text-transform: lowercase;
					&:first-letter{
						text-transform: capitalize;
					}
				}
				&__date{
					align-self: baseline;
					font-size: 0.7em;
					color: var(--gris-profond);
					font-weight: 300;
				}
			}
			&__content{
				width: calc(100% - 43px);
				margin-left: 28px;
				margin-bottom: 4px;
				padding: 6px;
				border: 1px solid var(--gris-clair-hover);
				border-radius: 0 3px 3px 3px;
				background-color: white;
			}
			&__action{
				margin-left: 28px;
				font-size: 0.66em;
				color: var(--gris-profond);
				span{
					cursor: pointer;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}