.main-box{
	display: flex;
	flex-flow: column nowrap;
	width: fit-content;
	width: -moz-fit-content;
	max-width: fit-content;
	margin: 32px auto 0 auto;
	padding: 48px 48px 32px 48px;
	border-radius: 0 10px 10px 10px;
	background: white;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
	&__title{
		margin: 0 0 36px 0;
		padding: 0 0 12px 0;
		border-bottom: solid 1px var(--gris-clair);
		@include title;
		text-align: left;
		text-transform: lowercase;
		&::first-letter{
			text-transform: capitalize;
		}
	}
	&__sub-title{
		padding: 0;
		margin: -32px 0 24px 0;
		color: var(--gris-profond);
		font-size: 12pt;
		font-weight: 400;	
	}
	&__action{
		position: absolute;
		top: 32px;right: 32px;
		z-index: 2;
		@include flex-row;
		justify-content: space-between;
		> span{
			padding: 8px;
			margin-left: 8px;
			background: #f8f8f8;
			border: solid 1px #e8e8e8;
			border-radius: 50%;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
			&:hover{
				background: #e8e8e8;
				border-color: #d8d8d8;
			}
			img{
				width: 20px;
				height: 20px;
			}
		}
	}
	&__content{
		&--padding{
			padding: 48px;
			padding-top: 0;
		}
	}
	&__btn{
		@include flex-row;
		justify-content: flex-end;
		> *:last-child{
			margin-left: 24px;
		}
		&--disabled{
			cursor: not-allowed;
		}
	}
	&--table{
		padding: 0;
		&__title{
			padding: 48px;
			padding-bottom: 0;
			border: none;
		}
		&__sub-title{
			padding: 0 48px;
		}
		&__legend{
			@include flex-row;
			justify-content: flex-end;
			padding: 0 48px;
			margin: 32px 0 0 0;
			> div{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;
				margin-right: 16px;
				color: black !important;
				font-size: 9pt;
				white-space: nowrap;
				&::before{
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					margin-right: 5px;
					border-radius: 50%;
					background: red;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&__btn{
			padding: 32px 48px;
		}
	}
	&--login{
		position: relative;
        top: 6vh;left: auto;right: auto;
        margin: 0 auto;
        padding: 60px 85px 16px 85px;
	}
}
@media screen and (max-height: 920px){
	.main-box{
		margin: 16px auto;
		padding: 32px 32px 24px 32px;
		&__action{
			top: 24px;
		}
		&__content{
			&--padding{
				padding: 32px;
				padding-top: 0;
			}
		}
		&--table{
			padding: 0;
			&__title{
				padding: 16px 32px 0 32px;
			}
			&__sub-title, &__legend{
				padding: 0 32px;
			}
			&__content{
				padding: 32px;
				padding-top: 0;
			}
			&__btn{
				padding: 16px 32px 16px 32px;
			}
		}
		&--login{
			padding: 60px 85px 16px 85px;
		}
	}
}
@media screen and (max-width: 460px){
	.main-box{
		width: 90vw;
		max-width: initial;
		padding: 32px 32px 16px 32px;
		margin: 24px auto 0 auto;
		box-shadow: 0 0 2px 0 rgba(0,0,0,.32);
		&--table{
			padding: 0;
		}
		&--login{
			position: initial;
			margin: 24px auto;
		}
	}
}
@media print{
	.main-box{
		border: none;
		width: initial;
		max-width: initial;
		padding: 0;
		margin: 0;
		box-shadow: none;
		&__btn{
			display: none;
		}
	}
}