.side-nav{
	display: flex;
	flex-flow: column nowrap;
	position: fixed;
	top:58px;left:0;bottom:0;
	z-index: 3;
	width: fit-content;
	width: -moz-fit-content;
	max-width: fit-content;
	margin: 0;
	background: white;
	border-right: 5px solid var(--couleur-principale);
	border-radius: 0 15px 15px 0;
	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
	&__header{
		display: flex;
		flex-direction: row;
		height: 58px;
		.burger{
			padding: 12px 10px;
			margin: 0 0 0 12px;
		}
	}
	&__content{
		flex-grow: 1;
		> ul{
			width: 60px;
			padding-top: 12px;
			transition: width 0.5s ease;
			li{
				list-style: none;
				position: relative;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				a{
					display: flex;
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					padding: 10px 0 10px 12px;
					margin: 0 0 4px 10px;
					background: transparent;
					border: none;
					border-radius: 20px 0 0 20px;
					font-size: 10pt;
					color: var(--gris-profond);
					text-align: left;
					overflow: hidden;
					cursor: pointer;
					&:hover{
						background: rgba(0,0,0,0.1);
						text-decoration: none;
						transition: 0s;
					}
					i{
						display: block;
						width: 16px;
						height: 16px;
						background: url("../images/nav/side-nav.svg");
						background-repeat: no-repeat;
						background-size: 2400% 400%;
						background-position-x: 0;
						background-position-y: -32px;
					}
					span{
						width: 0;
						visibility: hidden;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: clip;
						transition: width 0.1s ease;
					}
				}
				button{
					position: absolute;
					top:0;bottom:4px;right:5px;
					z-index: 1000;
					display: flex;
					flex-flow: column wrap;
					align-items: center;
					justify-content: space-between;
					visibility: hidden;
					padding: 13px 12px;
					background: transparent;
					border: none;
					border-radius: 8px;
					cursor: pointer;
					transition: background 0.2s ease;
					&::after, &::before, span{
						content:'';
						display: block;
						width: 2px;
						height: 2px;
						background: var(--gris-profond);
						border-radius: 50%;
					}
					&:hover{
						background: rgba(0,0,0,0.1);
					}
				}
				&:hover{
					button{
						visibility: visible;
					}
				}
				&.active{
					position: relative;
					a{
						background: var(--couleur-principale) !important;
						&::before{
							content: '';
							position: absolute;
							top:-20px;right:0px;
							width: 20px;
							height: 20px;
							background: transparent;
							border-radius: 50%;
							box-shadow: 10px 10px 0 var(--couleur-principale);
						}
						i{
							background-position-y: 0;
						}
						span{
							color: #f2f2f2;
						}
						&::after{
							content:'';
							position: absolute;
							bottom:-16px;right:0px;
							width: 20px;
							height: 20px;
							background: transparent;
							border-radius: 50%;
							box-shadow: 10px -10px 0 var(--couleur-principale);
						}
						&::after, &::beofre{
							z-index: 900;
						}
					}
					button{
						&::after, &::before, span{
							background: white;
						}
					}
				}
				&.index{i{background-position-x: 0;}}
				&.account{i{background-position-x: -16px;}}
				&.parc-tech{i{background-position-x: -32px;}}
				&.add-module{i{background-position-x: -48px;}}
				&.prob-tech{i{background-position-x: -64px;}}
				&.parc-module{i{background-position-x: -80px;}}
				&.add-equip{i{background-position-x: -96px;}}
				&.list-prob{i{background-position-x: -112px;}}
				&.parc-equip{i{background-position-x: -128px;}}
				&.bons-interv{i{background-position-x: -144px;}}
				&.saisie{i{background-position-x: -160px;}}
				&.visu{i{background-position-x: -176px;}}
				&.visu-site{i{background-position-x: -192px;}}
				&.cgu{i{background-position-x: -208px;}}
				&.gene-mdp{i{background-position-x: -224px;}}
				&.parametres{i{background-position-x: -240px;}}
				&.gestion-user{i{background-position-x: -256px;}}
				&.gestion-site{i{background-position-x: -272px;}}
				&.gestion-lien{i{background-position-x: -288px;}}
				&.utilitaires{i{background-position-x: -304px;}}
				&.dispo-site{i{background-position-x: -320px;}}
				&.gestion-role{i{background-position-x: -336px;}}
				&.logs{i{background-position-x: -352px;}}
				&.disconnect{i{background-position-x: -368px;~ span{color: red;}}}
			}
			.side-nav__sub-list{
				height: 0;
				margin-left: 30px;
				overflow: hidden;
				transition: height 0.5s ease;
				&.displayed{
					height: initial;
				}
				a{
					font-size: 9pt;
					color: #848484;
					i{
						background-position-y: -16px;
					}
				}
			}
		}
	}
	&__footer{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		height: 58px;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			font-size: 10pt;
			color: var(--gris-profond);
			span{
				display: inline-block;
				width: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: clip;
				transition: width 0.5s ease;
			}
			&:hover{
				color: var(--couleur-focus);
			}
		}
	}
	&:hover{
		.side-nav__content{
			> ul{
				width: 250px;
				li{
					a{
						i{
						margin-right: 16px;
						}
						span{
							width: calc(100% - 32px);
							visibility: visible !important;
						}
					}
					button{
						display: flex;
					}
				}
			}
		}
		.side-nav__footer{
			a{
				span{
					width: 58px;
					&.w54{
						width: 54px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 920px){
	.side-nav{
		margin-left: -65px;
		transition: margin .5s ease;
		&--visible{
			margin: 0;
			.side-nav__content{
				> ul{
					width: 250px;
					a{
						i{
						margin-right: 16px;
						}
						span{
							width: calc(100% - 32px);
							visibility: visible !important;
						}
					}
				}
			}
			.side-nav__footer{
				a{
					span{
						width: 58px;
						&.w54{
							width: 54px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 460px){
	.side-nav{
		top: 48px;
	}
}