.main-content{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 80vw;
	max-width: 980px;
	margin: 40px auto 0 auto;
	&--large{
		max-width: initial;
	}
}
.col-content{
	width: 90vw;
	max-width: 500px;
	margin: 10px auto 0 auto;
	&__desc{
		margin: 40px 0;
		text-align: center;
		font-weight: 400;
		font-size: 13pt;
	}
}
@media screen and (max-width: 460px){
	.col-content{
		width: calc(100vw - 48px);
		&__desc{
			margin: 24px 0 16px 0;
			font-size: 11pt;
		}
	}
}