[data-tab-content]{
	display: none;
}
.active[data-tab-content]{
	display: block;
}
.tab-wrapper{
	@include flex-col;
	flex-flow: column nowrap;
	margin: -32px auto 0 auto;
	&__tabs{
		@include flex-row;
		width: 90vw;
		max-width: 500px;
		background: var(--gris-clair-hover);
		font-size: 1.0em;
		color: black;
		border-radius: 0 4px 0 0;
		list-style: none;
		&__tab{
			@include flex-row;
			width: 33.33%;
			height: 32px;
			border-radius:0 4px 0 0;
			cursor: pointer;
			transition: all 0.15s ease-in-out;
			&.active{
				background: white;
				color: var(--couleur-principale);
				border: solid 1px var(--gris-clair-hover);
				border-bottom-color: #fff;
			}
		}
	}
	&__content{
		width: 90vw;
		max-width: 500px;
		margin: 10px auto 0 auto;
		background: white;
		> *:not(#boutonsForm){
			margin: 0 40px;
		}
	}
}
@media screen and (max-width: 460px){
	.tab-wrapper{
		margin-top: 0;
		&__tabs{
			width: 100vw;
			&__tab{
				border: none;
				height: 34px;
				font-size: 10pt;
				&.active,&.active:hover{
					border: none;
				}
			}
		}
		&__content{
			width: calc(100vw - 48px);
			> *:not(#boutonsForm){
				margin: 0;
			}
		}
	}
}
@media print{
	.tab-wrapper{
		&__tabs{
			display: none;
		}
	}
}