/*
*{	
}
html{
    background: none;
}
body {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}
#bloc_1{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.grid{
    display: flex;
	justify-content: center;
	margin: 0 50px;
}
.grid > *{
	flex: 1 1 auto;
	margin-bottom: 20px;
}
.grid input{
	border: none;
	font-size: 15px;
}
.grid input#site_ba_intitule {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 20px 0;
}
.grid input#site_ba_adresse{
    font-size: 18px;
    margin: 0 0 50px 0;
}
.grid div#bloc_contact_pour_impression {
	margin-top: 10px;
	display: block;
}
.grid div#bloc_contact_pour_impression::before{
	content: "Liste des contacts";
	font-size: 18px;
	text-decoration: underline;
	display: block;
}
.grid label, .grid a, .grid button, .grid h1,
.grid input#site_ba_lienGoogle, #bloc_ajout_contact,
.validation_formulaire_fiche_client, .validation_formulaire_droite,
.validation_formulaire_centre, .grid span.sous_label_fichier,
.grid div#contacts_deja_associes, .inter_bloc_2_1:first-of-type,
nav#mainMenu, #entete_de_page{
    display: none;
}
.grid__two{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 70%;right: 40px;bottom: 0;left: 50%;
    width: initial;
    max-width: initial;
    padding: 0;
    margin: 0;
    box-shadow: none;   
}
#map{
	height: 100%;
	width: 100%;
	margin: 0;
}*/