#blockDemo{
	margin-left: 40px;
	margin-top: 5px;
}
.lienDemo{
	font-size: 1em;
	color: white;
}
/* TABLEAU ********************************************/
#tableAffaire{
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0 5px;
}
.ligneAffaire{
	background-color: white;
	cursor: pointer;
	position: relative;
}
#tableAffaire thead, #tableAffaire tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
/* THEAD ********************************************/
#tableAffaire thead{
	display: table;
    width: 100%;
    table-layout: fixed;
}
#tableAffaire thead tr{
	height: 10px;
}
#tableAffaire tr th{
	text-align: center;
	vertical-align: bottom;
}
#tableAffaire tr th{
	font-size: 0.8em;
	font-weight: normal;
	color: var(--dark-grey);
}
.CXXXHead, .etatConnecHead, .nomAffaireHead, .connexionOnHead{
	border-bottom: solid 1px var(--dark-grey);
}
.CXXXHead{
	width: 20%;
	min-width: 40px;
	cursor: pointer;
}
.etatConnecHead{
	width: 20%;
	min-width: 40px;
}
.nomAffaireHead{
	min-width: 180px;
	cursor: pointer;
}
.connexionOnHead{
	width: 40px;
}
.legendeTypeConnexion{
	width: 20px;
}
tr th:last-child{
	/*padding-right: 20px;
	-webkit-padding-end: 10px;*/
}
/* LEGENDE THEAD **************************************/
#legendeInfoConnexion{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid var(--dark-grey);
	border-radius: 50%;
	background-color: white;
	background: rgb(255,255,255);
	background: linear-gradient(120deg, rgba(255,255,255,1) 30%, rgba(226,226,226,1) 70%, rgba(226,226,226,1) 100%); 
	color: var(--main-col);
	cursor: pointer;
}
#legendeInfoConnexion #stay p{
	font-family: times new roman, serif;
	font-style: italic;
	font-size: 1.2em;
	font-weight: bold;
}
.explicationInfoConnexion{
	display: none;
	text-align: left;
	position: absolute;
	top: 0px;
	right: 40px;
	padding: 6px 10px;
	background-color: white;
	border: 1px solid var(--dark-grey);
	border-radius: 3px;
	z-index: 2;
}
.explicationInfoConnexion h1{
	font-size: 1em;
	font-weight: normal;
	color: black;
}
.explicationInfoConnexion p{
	font-size: 0.85em;
	font-weight: normal;
	color: var(--dark-grey);
}
#legendeInfoConnexion:hover > .explicationInfoConnexion{
	display: block;
}
/* TBODY ********************************************/
#tableAffaire tbody{
	display: block;
    width: 100%;
    min-height: 250px;
    max-height: 465px;
    overflow-y: scroll;
	overflow-x: hidden;
}
#tableAffaire tbody tr{
	height: 40px;
	padding-right: 10px;
	-webkit-padding-end: 4px;
}
#tableAffaire td, #tableAffaire td img{
	vertical-align: middle;
}
#tableAffaire tr td{
	text-align: center;
	transition: background-color 0.2s ease-in-out;
}
.CXXX, .etatConnec, .nomAffaire {
	height: 38px;
}
.CXXX, .etatConnec{
	width: 20%;
	min-width: 40px;
	border: solid 1px var(--light-grey);
	border-radius: 0 0 0 5px;
	border-right: none;
}
.etatConnec{
	border-radius: 0;
	border-left: none;
}
.imgEtatConnec{
	width: 40px;
	height: 40px;
}
.nomAffaire{
	min-width: 180px;
	border: solid 1px var(--light-grey);
	border-radius: 0 5px 5px 0;
	border-left: none;
}
.connexionOn{
	width: 40px;
}
.popUpCloud{
	display: none;
	visibility: hidden;
	position: absolute;
	box-sizing: border-box;
    margin-top: -1px;
    margin-left: -135px;
    font-size: 13px;
    line-height: 15px;
    color: white;
    background: var(--dark-grey);
    border-radius: 3px;
	height: 42px;
 	padding: 5px 20px;
}
.connexionOn:hover > .popUpCloud{
	display: block;
	visibility: visible;
}
.whiteSpace{
	width: 0.5vw;
	min-width: 8px;
	border: none;
}
.whiteSpaceBorder{
	width: 0.5vw;
	min-width: 8px;
	border: none;
	border-bottom: solid 1px var(--dark-grey); 
}
.iconeConnec{
	width: 40px;
	height: 40px;
}
.ligneAffaire:hover > td.CXXX, .ligneAffaire:hover > td.etatConnec, .ligneAffaire:hover > td.nomAffaire{
	background-color: var(--light-grey);
}
tr td:last-child{
	padding-right: 12px;
	-webkit-padding-end: 6px;
}
/* CONTENU POP UP *********************************/
.pictoInfo{
	margin-right: 8px;
	width: auto;
	height: 13px;
}
/* CONNEXION **********************************/
#choixModeConnexion{
	display: none;
}
#pictoConnexion{
	display: flex;
	justify-content: space-between;
}
.connexionInfoAffaire{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#pictoConnexion .connexionInfoAffaire .popUpCloud{
	margin-top: 60px;
    margin-left: 0px;
    color: white;
    text-align: center;
}
#pictoConnexion .connexionInfoAffaire:hover > .popUpCloud{
	display: block;
	visibility: visible;
}
.imgConnexionInfoAffaire{
	width: 56px;
	height: auto;
	margin-bottom: 4px;
	cursor: pointer;
}
#pictoConnexion p{
	font-size: 0.8em;
	color: var(--dark-grey);
}
#ensembleInfoAffaire{
	display: flex;
	flex-direction: row;
}
/* INFOS SITE ******************************************/
#modifyInfoAffaire{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 24px;
	height: 24px;
	margin-right: 0;
	background: linear-gradient(120deg, rgba(255,255,255,1) 30%, rgba(226,226,226,1) 70%, rgba(226,226,226,1) 100%);
	border: solid 1px var(--grey);
	border-radius: 50%;
	cursor: pointer;
}
#modifyInfoAffaire:hover{
	background-color: var(--light-grey);
}
.editInfo{
	width: 12px;
	height: 12px;
}
#modifyInfoAffaire:hover > #infoBulleModifyInfo{
	display: inline-block;
    visibility: visible;
    opacity: 1;
}
/* ESPACE COMMENTAIRE *********************************/
.textWarning{
	padding: 4px 0;
	font-size: 0.9em;
	color: white;
	text-align: center;
	background-color: red;
}
.partagePrive{
	padding: 4px 0;
	font-size: 0.9em;
	color: white;
	text-align: center;
	background-color: var(--main-col);
}
.lienModePartage{
	color: var(--focus);
	font-style: italic;
}
#switchToPrivate{
	font-size: 0.9em;
	color: var(--focus);
	font-style: italic;
}
/* RESPONSIVE 900px ***********************************************************************************************************************************/
@media screen and (max-width: 900px){
	/*.accueil-box{
	    width: 80vw;
	    min-width: 540px;
	    max-width: 850px;
	}
	#blockDemo{
		margin-left: 20px;
	}
	.lienDemo{
		font-size: 0.9em;
		color: white;
	}
	/* LEGENDE **************************************/
/*	.search-bar{
		width: calc(100% - 20px);
	}
	#searchBarInput{
		flex: 1;
	}
	#legendeConnexion p{
		font-size: 0.6em;
		white-space: nowrap;
		text-overflow: hidden;
	}
	.rondConnexion{
		width: 8px;
		height: 8px;
		margin-right: 5px;
		border-radius: 50%;
	}*/
	/* POP UP **************************************/
	#infoAffaire{
	    width: 85vw;
	    min-width: 500px;
	    max-width: 960px;
	}
	#infoAffaire header{
		padding: 12px 20px;
	}
	#leftInfo{
		width: 32%;
		min-width: 200px;
		padding: 6px 20px;
	}
	#ensembleInfoAffaire h1{
		margin: 12px 0;
	}
	#pictoConnexion, #ensemblePieceJointe, #resumeAffaire{
		padding-left: 20px;
	}
	#pictoConnexion p{
		font-size: 0.7em;
	}
	/* INFOS SITE ******************************************/
	#resumeAffaire{
		max-height: 310px;
	}
	.forLabelInfoSite{
		margin-bottom: 8px;
	}
	/* ESPACE COMMENTAIRE *********************************/
	#espaceCommunautaireAffaire{
		width: 68%;
		padding: 6px 20px;
	}
	.autreCommentateur{
		overflow: hidden;
		margin-bottom: 8px;
	}
}
/* RESPONSIVE MOBILE 580 ********************************************************************************************************************************/
@media screen and (max-width: 580px){
	html{
	    background: white no-repeat center fixed;
	}
	/*body{
		position: fixed;
		top: 0; right: 0; bottom: 0;
	}
	#mainMenu{
		border-bottom: 1px solid var(--grey);
	}*/
	#blockDemo{
		display: none;
	}
	/*.accueil-box{
	    width: calc(90% - 48px);
	    min-width: 340px;
	    max-width: 900px;
	    margin-top: 51px;
	    padding: 20px 24px 10px 24px;
	    background: white;
	    box-shadow: none;
	}*/
	/* LEGENDE *****************************************/
/*	.accueil-box__header{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	.rondConnexion{
		width: 10px;
		height: 10px;
	}
	#noConnexion{
		margin-right: 0;
	}
/*	.search-bar{
		margin-top: 12px !important;
		margin-bottom: 0;
	}*/
	/* TABLEAU *****************************************/
	.whiteSpace, .whiteSpaceBorder, .connexionOnHead, .connexionOn, .legendeTypeConnexion{
		display: none;
	}
	#tableAffaire tbody{
		height: 56vh;
		min-height: 80px;
		max-height: 800px;
		padding-right: 6px;
	}
	#tableAffaire thead{
		display: none;
	}
	#tableAffaire tbody tr td.whiteSpace{
		display: none;
	}
	/* BOUTON AJOUTER AFFAIRE **************************/
	#buttonAddAffaire{
		padding: 12px 20px;
	}
	/* POP UP ********************************************/
	#infoAffaire{
		position: fixed;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);/* décalage de 50% de sa propre taille */
		width: calc(100vw - 96px);
		min-width: 250px;
	}
	#infoAffaire header{
		padding: 12px 40px;
	}
	#infoAffaire header h1{
		font-size: 1.8em;
		text-align: center;
		font-weight: normal;
	}
	#infoAffaire header h2{
		font-size: 1.2em;
		text-align: center;
		font-weight: normal;
	}
	.textWarning{
		display: none;
	}
	#leftInfo{
		width: 100%;
		padding: 10px 40px 20px 40px;
		margin: 0 auto;
		border-radius: 0 0 20px 20px;
	}
	#connexionAffaire{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	#choixModeConnexion{
		display: block;
		margin: 14px 0 10px 0;
		font-size: 1.2em;
		font-weight: lighter;
		text-align: center;
	}
	#ensembleInfoAffaire h1{
		display: none;
	}
	#pictoConnexion{
		width: 180px;
		height: 30vh;
		max-height: 220px;
		margin: 0 auto;
		padding: 20px;
		align-self: center;
		justify-content: space-between;
	}
	#pictoConnexion .connexionInfoAffaire:first-child, #pictoConnexion .connexionInfoAffaire:last-child{
        align-self: flex-end;
    }
	.connexionInfoAffaire{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.imgConnexionInfoAffaire{
		width: 60px;
		margin-bottom: 6px;
	}
	#pictoConnexion p{
		font-size: 1em;
	}
	#pictoConnexion .connexionInfoAffaire:hover > .popUpCloud{
		display: none;
		visibility: hidden;
	}
	.partagePrive{
		display: none;
	}
	.textWarning{
		display: none;
	}
	/* PIECE JOINTE ********************************/
	#ensemblePieceJointe{
		display: none;
	}
	.addPieceJointe{
		display: none;
}
	/* INFOS SITE ***********************************/
	#resumeAffaire{
		display: none;
	}
	#modifyInfoAffaire{
		display: none;
	}
	/* ESPACE COMMENTAIRE ***************************/
	#espaceCommunautaireAffaire{
		display: none;
	}
}
/* RESPONSIVE MOBILE 380 ******************************************************************************************************/
@media screen and (max-width: 380px){
	/*.accueil-box{
	    width: calc(100% - 60px);
	    min-width: 20px;
	    max-width: 380px;
	    padding: 10px 0 22px 0;
	}*/
	/* LEGENDE **************************************************/
	#accueil-box__header__legende p{
		font-size: 0.55em;
	}
	.rondConnexion{
		width: 6px;
		height: 6px;
		margin-right: 4px;
	}
/*	.search-bar{
		margin-top: 4px;
		height: 4px;
	}*/
	#connected, #outDated, #eCatcher, #nonConnected, #noConnexion{
		margin-right: 4px;
	}
	/* TABLEAU **************************************************/
	#tableAffaire{
		border-spacing: 0 3px;
	}
	#tableAffaire tbody tr td{
		font-size: 0.80em;
	}
	.CXXX{
		width: 20%;
	}
	.etatConnec{
		width: 20%;
	}
	.imgEtatConnec{
		width: 30px;
		height: 30px;
	}
	/* BOUTON AJOUTER AFFAIRE *************************************/
	#buttonAddAffaire{
		padding: 12px 24px;
	}
	#iconeTexteButtonAddAffaire p{
		margin-left: 8px;
		font-size: 0.8em;
	}
	/* POP UP *****************************************************/
/*	#infoAffaire{
		width: calc(100vw - 60px);
		min-width: 250px;
	}*/
}
/* RESPONSIVE HAUTEUR ***********************************************************************************************************************************/
@media screen and (min-width: 380px) and (max-height: 800px){
	#tableAffaire tbody{
		max-height: 340px;
	}
}