/* STRUCTURE *************************************************/
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
/* CARTON NOIR *****************************************************/
#cartonBlack, #fonduBlack{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}
#fonduBlack{
    z-index: 5;
    position: absolute;
}
/* HORODATAGE ****************************************************/
#setDate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
}
#setStart{
    display: flex;
    align-self: flex-start;
}
#setEnd{
    display: flex;
    align-self: flex-end;
}
#setDate p{
    font-size: 0.8em;
    color: white;
}
.heureDate{
	font-size: 1em;
	color: #9dceeb;
	font-weight: bold;
	font-style: italic;
}
.inputHorodatage {
    font-family: Calibri, arial, sans-serif;
    font-size: 0.8em;
    color: #1b3568;
    padding: 0 4px 0 4px;
    border: 1px solid #1b3568;
    border-radius: 3px;
}
#horodatage{
    margin-right: 18px;
    cursor: pointer;
}
#session{
	cursor: pointer;
}
#addSession {
	visibility: hidden;
}
#inputSession{
    margin-right: 8px;
}
.iconeHorodatage{
    width: 16px;
    height: 20px;
}
#rightAffaire .popUp{
	margin-top: 30px;
	-webkit-margin-before: 33px;
    margin-left: -65px;
    -webkit-margin-start: -80px;
    background: var(--gris-profond);
    z-index: 3;
}
#session .popUp{
	margin-left: -120px;
	-webkit-margin-start: -100px;
}
.linkHorodatage:hover > span, .linkSession:hover > span{
    visibility: visible;
}
.iconeSession{
    width: 23px;
    height: 19px;
}
#setDateMobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    background-color: #e7e7e7;
}
/* POP UP HORODATAGE ****************************************************/
#popUpDate{
	display: none;
	position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);/* décalage de 50% de sa propre taille */
    z-index: 4;
    align-items: center;
    flex-direction: column;
    width: 60%;
    max-width: 300px;
    min-width: 150px;
    padding: 70px 40px 30px 40px;
    background: white;
    border-radius: 0 20px 20px 20px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
#popUpDate h1{
	font-size: 1.6em;
	color: var(--couleur-principale);
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-bottom: 4vh;
}
#popUpDate label{
	font-size: 0.9em;
	color: #636363;
	align-self: start;
	text-transform: uppercase;
	margin-bottom: 0.5vh;
}
#popUpDate input[type="date"], #popUpDate input[type="time"]{
	width: 100%;
	height: 26px;
	margin-bottom: 2vh;
	border: 1px solid var(--couleur-principale);
	font-family: Calibri, Arial, sans-serif;
	font-size: 0.95em;
	color: #636363;
	text-align: center;
}
#popUpDate input[type="time"]{
	width: 30%;
	align-self: start;
}
.missDate{
    margin-top: 1vh;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
    color: red;
}
/* SCROLL BAR ********************************************************/
.styleScrollBar{
    scrollbar-width: thin;
    scrollbar-color: var(--couleur-principale) var(--gris-clair);
}
.styleScrollBarGris{
    scrollbar-width: thin;
    scrollbar-color: var(--couleur-principale) var(--gris-clair-hover);
}
.styleScrollBar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: none transparent;
}
.styleScrollBar::-webkit-scrollbar-track-piece{
    background: transparent none;
    border: solid 4px transparent;
    border-right-width: 8px;
    margin: 4px;
    -webkit-box-shadow: inset 1px 0 0 0 var(--couleur-principale);
}
.styleScrollBar::-webkit-scrollbar-thumb{ 
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 6px var(--couleur-principale);
}
/* POP UP PRINCIPALE *************************************************/
.popUpPrincipale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    margin: 0 auto;
    z-index: 6;
}
.headerPopUpPrincipale{
    position: relative;
    padding: 50px 0 30px 0;
    background: #0a71b3;
    border-radius: 0 10px 0 0;
}
.headerPopUpPrincipale h1{
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: white;
}
.contenuPopUpPrincipale{
    padding: 30px 80px 50px 80px;
    background: white;
    border-radius: 0 0 10px 10px;
}
.contenuPopUpPrincipale h2{
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: black;
    white-space: nowrap;
    line-height: 1em;
}
.contenuPopUpPrincipale ul{
    list-style: none;
    text-align: center;
}
/* GENERATEUR MDP ****************************************************/
#titrePageGenerateur{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titrePageGenerateur h1{
    margin-bottom: 20px;
}
#titrePageGenerateur span{
    color: var(--disconnect);
    font-weight: 500;
}
#formGenerationMdp{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#formGenerationMdp > p{
    margin: 4vh 0 4vh 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}
#contenuFormGenerateur{
    margin: 0 40px;
}
#contenuFormGenerateur > form{
    display: flex;
    flex-direction: column;
}
#contenuFormGenerateur > .flexRow > .flexColumn{
    width: 100%;
}
#contenuFormGenerateur > .flexRow > .flexColumn:nth-child(0n + 2){
    margin-left: 24px;
}
#generateur_mdp_duree{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}
#alerteV2{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: var(--disconnect);
    font-weight: 600;
    margin: 0 auto 24px auto;
}
#generateur_mdp_duree > .radio{
    width: 100%;
    cursor: pointer;
}
#generateur_mdp_duree > .radio:nth-child(0n + 2){
    margin-left: 24px;
}
#choixJournee{
    margin-bottom: 16px;
}
#generateur_mdp_duree > .radio > label{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 32px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: black;
    background: var(--gris-clair);
    border-radius: 2px;
    transition: background ease-in-out 0.2s;
}
#generateur_mdp_duree > .radio > label:hover{
    background: var(--gris-clair-hover);
}
#generateur_mdp_duree > .radio > label:before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    background: url("../images/img/inputRadio.svg");
    background-size: 200%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#generateur_mdp_duree > .radio > label.generateurChecked{
    background: #3ce678;
}
#generateur_mdp_duree > .radio > label.generateurChecked:before{
    background-position: -12px 0;
}
.wrapperSubmit{
    cursor: not-allowed;
}
#boutonGenerer.pointerNone{
    background: #e3e3e3;
    color: #636363;
    cursor: not-allowed;
    pointer-events: none;
}
#generateur_mdp_duree > .radio > label > [type="radio"]{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
#identifiantGenere{
    font-size: 1.6em;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}
#mdpGenere{
    font-size: 2em;
    font-weight: 600;
    color: var(--disconnect);
    text-transform: uppercase;
}
/* RESPONSIVE SMALL ECRAN ******************************************************************************************************/
@media screen  and (max-width: 1280px){
    /* BANDEAU BLEU **********************************************/
    #affaire{
    	padding: 0 20px 0 25px;
    }
    .nameNavLat{
        padding-left: 35px;
        font-size: 0.9em;
    }
    .linkNavLat{
        height: 42px;
    }
    #leftAffaire{
        width: 10%;
        min-width: 75px;
    }
    #navAffaire{
        width: 56%;
        min-width: 360px;
    }
    #rightAffaire{
        width: 32%;
    }
    #nameAffaire{
        display: none;
    }
    .imgNav{
        width: 22px;
        height: auto;
        margin: 0;
    }
    .nameNav{
        display: none;
    }
    .popUpNav{
    	display: inline;
    	visibility: hidden;
    }
    .inputHorodatage {
        font-family: Calibri, arial, sans-serif;
        font-size: 0.7em;
    }
    #setDate{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
    }
    #horodatage{
    	margin-right: 10px;
    }
    #setDate p{
	    font-size: 0.7em;
	    color: white;
	}
	.heureDate{
		font-size: 1.1em;
	}
	#inputSession{
		margin-right: 2px;
	}
	.iconeSession{
	    width: auto;
	    height: 17px;
	}
	.iconeHorodatage{
	    width: 14px;
	    height: auto;
	}
}
/* RESPONSIVE TABLETTE ******************************************************************************************************/
@media screen and (max-width: 768px){
	/* BANDEAU BLEU ***********************************************/
	#affaire{
		padding: 0 25px;
	}
	#leftAffaire, #rightAffaire{
	    width: 16%;
	    min-width: 40px;
	    align-items: center;
	}
	#navAffaire{
	    width: 68%;
	    min-width: 300px;
	}
	#numberAffaire{
		font-size: 1.2em;
	}
    .popUp, .popUpNav{
        display: none;
    }
    #setDate{
        display: none;
    }
    /* BANDEAU DATE **********************************************/
    #setDateMobile{
        display: flex;
    }
    #setPeriode h1{
        font-size: 1.2em;
        font-weight: normal;
        color: var(--couleur-principale);
        text-transform: uppercase;
    }
    #periodeBlock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 88%;
    }
    #periodeBlock p{
        font-size: 0.9em;
        color: var(--gris-profond);
    }
    #periodeBlock .heureDate{
        font-size: 1.2em;
        color: var(--couleur-principale);
    }
}
/* RESPONSIVE 580 ***************************************************************************************************************/
@media screen and (max-width: 580px){
    label{
        margin-bottom: 4px;
        font-size: 10px;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"])
    :not([type="button"]):not(.texteToLabel):not(.identifiant)
    :not(.password):not(.search-bar__input),
    textarea, select{
        padding: 5px 0 5px 4px;
        height: initial;
        margin: 0 0 10px 0;
    }
    /* POP UP PRINCIPALE ****************************************/
    .popUpPrincipale{
        width: 70%;
        min-width: 300px;
    }
    .contenuPopUpPrincipale{
        padding: 30px 50px 40px 50px;
    }
    /* SCROLLBAR ************************************************/
    .styleScrollBar::-webkit-scrollbar{
        background: var(--gris-clair);
        width: 6px;
    }
    .styleScrollBar::-webkit-scrollbar-thumb{
        background-color: var(--couleur-principale);
    }
    .styleScrollBar::-webkit-scrollbar-track-piece{
        background: transparent none;
        border: none;
        border-right-width: 0;
        margin: 0;
        -webkit-box-shadow: none;
    }
    .styleScrollBar::-webkit-scrollbar-thumb{
        border: none;
        border-right-width: 0;
        -webkit-border-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -webkit-box-shadow: none;
    }
}
/* RESPONSIVE MOBILE **********************************************************************************************************/
@media screen and (max-width: 460px){
    /* BANDEAU BLANC **********************************************/
    #mainMenu{
        padding: 0 10px;
    }
    .popUpNav{
    	display: none;
    }
    #right{
        display: none;
    }
    /* MENU LATERAL **********************************************/
    #menuLateral{
        width: 80%;
    }
    #containerBaselineLogo{
        padding: 0 10px;
    }
    .linkNavLat{
        height: 40px;
        padding: 0 0 0 14px;
    }
    .nameNavLat{
        padding-left: 14px;
        font-size: 0.8em;
    }
    .imgNavLat{
        width: 14px;
        height: auto;
    }
    #commonNav, #account, #navAffaireLat, #disconnect, #menuLateralAffaire{
        padding: 0;
    }
    /* BANDEAU BLEU **********************************************/
    #affaire{
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding: 0 10px;
    }
    #leftAffaire, #rightAffaire{
        display: none;
    }
    #navAffaire{
        width: 100vw;
        min-width: 10px;
        height: 40px;
        background-color: white;
    }
    .linkNav{
        height: 40px;
    }
    .imgNav{
        width: 18px;
        height: auto;
    }
    /* HORODATAGE MOBILE *****************************************/
    #setDate{
        display: none;
        flex-direction: row;
        justify-content: space-between;
        height: 26px;
        margin: 0;
        padding: 0;
    }
    #setStart{
        align-self: center;
    }
    #setEnd{
        align-self: center;
    }
    .inputHorodatage{
        font-size: 0.75em;
        width: 28px;
        font-weight: bold;
        font-style: italic;
        color: #0a71b3;
        border: none;
        border-radius: none;
        background-color: #d8d8d8;
    }
    #setDate input:nth-of-type(2n+1){
        width: 59px;
    }
    /* BANDEAU DATE **********************************************/
    #setPeriode h1{
        font-size: 1.2em;
    }
    #periodeBlock{
        width: 100%;
    }
    #periodeBlock p{
        font-size: 0.75em;
        color: #757679;
    }
    #periodeBlock .heureDate{
        font-size: 1.15em;
        color: #0a71b3;
    }
    /* POPUP DATE **********************************************/
    #popUpDate{
        width: 72%;
        max-width: 300px;
        padding: 7vh 8vw 3vh 8vw;
        }
    .eyeCatcher{
        width: 100%;
        padding: 10px 0;
        font-weight: normal;
    }
    /* GENERATEUR MDP *******************************************/
    #formGenerationMdp{
        width: calc(100vw  - 48px);
        padding: 0;
    }
    #formGenerationMdp > p{
        margin: 24px 0 16px 0;
        text-align: center;
        font-size: 11pt;
        font-weight: 400;
    }
    #generateur_mdp_duree > .radio:nth-child(0n + 2){
        margin-left: 12px;
    }
    #generateur_mdp_duree > .radio > label{
        padding: 10px 0 10px 14px;
        font-size: 10pt;
        font-weight: 400;
    }
    #generateur_mdp_duree > .radio > label:before{
        margin-right: 10px;
    }
    #contenuFormGenerateur{
        margin: 0;
    }
    #generateur_mdp_ladate, #generateur_mdp_lheure{
        width: 100%;
    }
    #contenuFormGenerateur > .flexRow > .flexColumn:nth-child(0n + 2){
        margin-left: 12px;
    }
    #formGenerationMdp #alerteV2{
        font-size: 11pt;
        font-weight: 500;
        margin: 8px auto;
    }
}
