/*html{
    background: none;
}
body{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
}*/
#bloc_1{
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#entete_de_page{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bloc_2{
    display: flex;
    flex-direction: raw;
	flex: 1 1 auto;
}
#bloc_2 label {
	font-weight: bold;
}
#bloc_2 h1{
    display: flex;
    justify-content: center;
    lign-items: center;
	font-size: 22px;
	text-align: center;
	height: 60px;
}
.inter_bloc_2_1 {
	display: flex;
	flex-direction: column;
	width: 35%;
	padding-left: 10px;
	border-right: 1px dashed gray;
}
.inter_bloc_2_1 * {
	width: 99%;
}
.inter_bloc_2_1 select{
	height: 27px;
	border: 1px solid black;
}
.inter_bloc_2_1 h2{
	margin-bottom: 10px;
	margin-top: 10px;
}
.inter_bloc_2_1 div.nouveau_contact{
	margin-bottom: 10px;
}
.inter_bloc_2_2 {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.validation_formulaire_centre {
	width: 150px;	
	margin-left: auto;
	margin-right:  auto;
	margin-top: auto;
	margin-bottom: 50px;	
}
.validation_formulaire_droite{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 50px;
}
.validation_formulaire_fiche_client{
	display: flex;
	justify-content: space-around;
}
.validation_formulaire_fiche_client > * {
	width: 30px;
}
#impression_fiche_site{
	display: flex;
	justify-content: space-between;
}
#impression_fiche_site a{
	flex: 0 0 140px;
}
#impression_fiche_site div {
	background: gray;
	height: 20px;
	width: 20px;
	cursor: pointer;
	border:2px solid gray;
}
#bloc_ajout_contact {
	margin-bottom:50px;
}
/*#bloc_ajout_contact input
{
	width: 90%;
}*/
#map{
	height: 400px;
	width: 100%;
	margin: 32px 0;
}
#sous_label_fichier {
	font-size: 12px;
}
/*#bloc_ajout_contact input#dateMajContact 
{
	width: 70px;
	height: 15px;
	margin-bottom: -2px;
	border: none;
	padding: 0;
	font-size: 14px;
}
	*/
#bloc_ajout_contact h1{
	display: flex;
	justify-content: center;	
}
#bloc_ajout_contact h1 *{
	display: flex;
	align-items: center;
	padding: 0 0 0 5px;
	font-weight: normal;
}
#bloc_ajout_contact h1 span.titre{
	font-size: 22px;
	padding-left: 10px;
	font-weight: bold;
}
#bloc_ajout_contact h1 span{
	font-size: 16px;
}
#bloc_ajout_contact h1 span:last-child{
	padding-left: 0;
}
#bloc_contact_pour_impression{
	display: none;
}
#contacts_deja_associes p{
	font-size: 14px;
	font-style: normal;
	text-decoration: underline;
	cursor: pointer;
}