{# src/Lci/BoilerBoxBundle/Resources/views/Bons/aucune_enquete.html.twig #}

{% extends "::firstEmptyLayout.html.twig" %}
{% block title %} {{ parent() }}Bons d'interventions{% endblock title %}

{% block body %}
<div id='entete_de_page'><h1>Aucune nouvelle enquête demandée</h1></div>
{% endblock body %}
